In [1]:
# importing libs
import pandas as pd
import re

#### Loading datasets

In [2]:
# loading the education expenditure
url1="https://raw.githubusercontent.com/DaniDataScience/Python_coding_3/main/education_expenditure.csv"
edu_exp=pd.read_csv('education_expenditure.csv')
edu_exp

,country,institute_type,direct_expenditure_type,1995,2000,2005,2009,2010,2011
0,OECD Average,All Institutions,Public,4.9,4.9,5.0,5.4,5.4,5.3
1,Australia,All Institutions,Public,4.5,4.6,4.3,4.5,4.6,4.3
2,Austria,All Institutions,Public,5.3,5.4,5.2,5.7,5.6,5.5
3,Belgium,All Institutions,Public,5.0,5.1,5.8,6.4,6.4,6.4
4,Canada,All Institutions,Public,5.8,5.2,4.8,5.0,5.2,NaN
...,...,...,...,...,...,...,...,...,...
328,Turkey,Higher Education Institutions,Total,NaN,NaN,NaN,NaN,NaN,NaN
329,United Kingdom,Higher Education Institutions,Total,NaN,NaN,NaN,NaN,NaN,1.2
330,United States,Higher Education Institutions,Total,NaN,NaN,NaN,NaN,NaN,2.7
331,Brazil,Higher Education Institutions,Total,NaN,NaN,NaN,NaN,NaN,NaN
332,Russian Federation,Higher Education Institutions,Total,NaN,NaN,NaN,NaN,NaN,1.4

In [3]:
# loading the Times data set
times_data=pd.read_csv("https://raw.githubusercontent.com/DaniDataScience/Python_coding_3/main/times_Data_er.csv")
times_data

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States,99.7,72.4,98.7,98.8,34.5,96.1,20152.0,8.9,25%,NaN,2011
1,2,California Institute of Technology,United States,97.7,54.6,98.0,99.9,83.7,96.0,2243.0,6.9,27%,33;67,2011
2,3,Massachusetts Institute of Technology,United States,97.8,82.3,91.4,99.9,87.5,95.6,11074.0,9.0,33%,37;63,2011
3,4,Stanford University,United States,98.3,29.5,98.1,99.2,64.3,94.3,15596.0,7.8,22%,1.79,2011
4,5,Princeton University,United States,90.9,70.3,95.4,99.9,NaN,94.2,7929.0,8.4,27%,1.91,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,601800,Yeungnam University,South Korea,18.6,24.3,10.9,26.5,35.4,NaN,21958.0,15.3,3%,2.04,2016
2599,601800,YÄ±ldÄ±z Technical University,Turkey,14.5,14.9,7.6,19.3,44.0,NaN,31268.0,28.7,2%,36;64,2016
2600,601800,Yokohama City University,Japan,24.0,16.1,10.2,36.4,37.9,NaN,4122.0,3.7,3%,NaN,2016
2601,601800,Yokohama National University,Japan,20.1,23.3,16.0,13.5,40.4,NaN,10117.0,12.1,8%,28;72,2016
2602,601800,Yuan Ze University,Taiwan,16.2,17.7,18.3,28.6,39.8,NaN,8663.0,20.6,4%,1.83,2016

In [4]:
# loading country codes
url3='https://gist.githubusercontent.com/tadast/8827699/raw/f5cac3d42d16b78348610fc4ec301e9234f82821/countries_codes_and_coordinates.csv'
codes=pd.read_csv(url3)
codes

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""","""AFG""","""4""","""33""","""65"""
1,Albania,"""AL""","""ALB""","""8""","""41""","""20"""
2,Algeria,"""DZ""","""DZA""","""12""","""28""","""3"""
3,American Samoa,"""AS""","""ASM""","""16""","""-14.3333""","""-170"""
4,Andorra,"""AD""","""AND""","""20""","""42.5""","""1.6"""
...,...,...,...,...,...,...
251,Wallis and Futuna,"""WF""","""WLF""","""876""","""-13.3""","""-176.2"""
252,Western Sahara,"""EH""","""ESH""","""732""","""24.5""","""-13"""
253,Yemen,"""YE""","""YEM""","""887""","""15""","""48"""
254,Zambia,"""ZM""","""ZMB""","""894""","""-15""","""30"""
255,Zimbabwe,"""ZW""","""ZWE""","""716""","""-20""","""30"""

### Cleaning data for Times data

#### Identifying NAs and dropping them

In [5]:
times_data.isna().sum(axis=0)

world_rank                   0
university_name              0
country                      0
teaching                     0
international                9
research                     0
citations                    0
income                     218
total_score               1402
num_students                59
student_staff_ratio         59
international_students      67
female_male_ratio          236
year                         0
dtype: int64

In [6]:
times_data = times_data.dropna()
times_data.isna().sum(axis=0)

world_rank                0
university_name           0
country                   0
teaching                  0
international             0
research                  0
citations                 0
income                    0
total_score               0
num_students              0
student_staff_ratio       0
international_students    0
female_male_ratio         0
year                      0
dtype: int64

In [7]:
len(times_data)

954

#### checking dta dypes. columns with objects as type probably need cleaning

In [8]:
times_data.dtypes

world_rank                  int64
university_name            object
country                    object
teaching                  float64
international             float64
research                  float64
citations                 float64
income                    float64
total_score               float64
num_students              float64
student_staff_ratio       float64
international_students     object
female_male_ratio          object
year                        int64
dtype: object

#### cleaning international col

In [9]:
times_data["international_students"]  = times_data["international_students"].apply(lambda x: re.sub('%','',x))

C:\Users\Dani\AppData\Local\Temp/ipykernel_19048/1914602649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  times_data["international_students"]  = times_data["international_students"].apply(lambda x: re.sub('%','',x))

In [10]:
times_data["international_students"] = pd.to_numeric(times_data["international_students"])

C:\Users\Dani\AppData\Local\Temp/ipykernel_19048/1297257847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  times_data["international_students"] = pd.to_numeric(times_data["international_students"])

#### cleaning female_male_ratio col

columns "female_male_ratio" has two types of value, one ratio with ";" (e.g.60;40) and one with in integer (e.g. 1.5)

In [11]:
# marking True-False for splitting dataframe
times_data["female__ratio"] = times_data["female_male_ratio"].apply(
    lambda x: 
        x[0:2]
        if ";" in x else
        round((float(x)/(1+float(x)))*100)
)

times_data.drop(["female_male_ratio"], axis='columns', inplace=True)

C:\Users\Dani\AppData\Local\Temp/ipykernel_19048/1786375516.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  times_data["female__ratio"] = times_data["female_male_ratio"].apply(
C:\Users\Dani\CEU\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

#### cleaning university name and country col

In [12]:
times_data['university_name'] = times_data['university_name'].astype("string")
times_data['country'] = times_data['country'].astype("string")
times_data['female__ratio'] = times_data['female__ratio'].astype("int64")
#times_data['international_students'] = times_data['international_students'].astype("int")

times_data.dtypes

C:\Users\Dani\AppData\Local\Temp/ipykernel_19048/268229140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  times_data['university_name'] = times_data['university_name'].astype("string")
C:\Users\Dani\AppData\Local\Temp/ipykernel_19048/268229140.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  times_data['country'] = times_data['country'].astype("string")
C:\Users\Dani\AppData\Local\Temp/ipykernel_19048/268229140.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  times_data['female__ratio'] = times_data['female__ratio'].astype("int64")

world_rank                  int64
university_name            string
country                    string
teaching                  float64
international             float64
research                  float64
citations                 float64
income                    float64
total_score               float64
num_students              float64
student_staff_ratio       float64
international_students      int64
year                        int64
female__ratio               int64
dtype: object

### Cleaning the Educational expendutire table

In [13]:
edu_exp.head()

,country,institute_type,direct_expenditure_type,1995,2000,2005,2009,2010,2011
0,OECD Average,All Institutions,Public,4.9,4.9,5.0,5.4,5.4,5.3
1,Australia,All Institutions,Public,4.5,4.6,4.3,4.5,4.6,4.3
2,Austria,All Institutions,Public,5.3,5.4,5.2,5.7,5.6,5.5
3,Belgium,All Institutions,Public,5.0,5.1,5.8,6.4,6.4,6.4
4,Canada,All Institutions,Public,5.8,5.2,4.8,5.0,5.2,NaN

In [14]:
edu_exp.isna().sum(axis=0)

country                      0
institute_type               0
direct_expenditure_type      0
1995                       239
2000                       234
2005                       227
2009                       230
2010                       232
2011                        51
dtype: int64

In [15]:
edu_exp = edu_exp.dropna()
edu_exp.isna().sum(axis=0)

country                    0
institute_type             0
direct_expenditure_type    0
1995                       0
2000                       0
2005                       0
2009                       0
2010                       0
2011                       0
dtype: int64

We only need higher educational instistutions, we drop the rest

In [16]:
edu_exp["institute_type"].value_counts()

All Institutions                          27
Elementary and Secondary Institutions     26
Higher Education Institutions             26
Name: institute_type, dtype: int64

In [17]:
edu_exp = edu_exp[edu_exp["institute_type"].str.contains("Higher")]

In [18]:
edu_exp["direct_expenditure_type"].value_counts()

Public    26
Name: direct_expenditure_type, dtype: int64

In [19]:
edu_exp['country'] = edu_exp['country'].astype("string")
edu_exp['institute_type'] = edu_exp['institute_type'].astype("string")
edu_exp['direct_expenditure_type'] = edu_exp['direct_expenditure_type'].astype("string")

edu_exp.dtypes

country                     string
institute_type              string
direct_expenditure_type     string
1995                       float64
2000                       float64
2005                       float64
2009                       float64
2010                       float64
2011                       float64
dtype: object

#### Merging the two tables

In [20]:
merged_df = pd.merge(times_data, edu_exp, how='left', left_on="country", right_on="country")
merged_df = merged_df.dropna()
merged_df.isna().sum(axis=0)

print((len(times_data),len(edu_exp),len(merged_df)))
merged_df

(954, 26, 763)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,...,year,female__ratio,institute_type,direct_expenditure_type,1995,2000,2005,2009,2010,2011
0,2,California Institute of Technology,United States,97.7,54.6,98.0,99.9,83.7,96.0,2243.0,...,2011,33,Higher Education Institutions,Public,1.1,0.8,1.0,1.1,1.0,0.9
1,3,Massachusetts Institute of Technology,United States,97.8,82.3,91.4,99.9,87.5,95.6,11074.0,...,2011,37,Higher Education Institutions,Public,1.1,0.8,1.0,1.1,1.0,0.9
2,4,Stanford University,United States,98.3,29.5,98.1,99.2,64.3,94.3,15596.0,...,2011,64,Higher Education Institutions,Public,1.1,0.8,1.0,1.1,1.0,0.9
3,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,18812.0,...,2011,66,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9
4,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,19919.0,...,2011,66,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,196,Newcastle University,United Kingdom,30.9,84.3,27.5,81.5,34.7,49.2,20174.0,...,2016,68,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9
950,196,"St Georgeâ€™s, University of London",United Kingdom,25.6,69.5,18.1,100.0,37.7,49.2,2958.0,...,2016,72,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9
951,198,University of Trento,Italy,30.8,55.9,27.4,87.7,47.1,49.1,16841.0,...,2016,68,Higher Education Institutions,Public,0.7,0.7,0.6,0.8,0.8,0.8
952,199,Paris Diderot University â€“ Paris 7,France,30.5,64.9,22.9,91.0,29.0,48.9,27756.0,...,2016,73,Higher Education Institutions,Public,1.0,1.0,1.1,1.3,1.3,1.3
953,200,Queenâ€™s University Belfast,United Kingdom,34.1,93.4,33.3,68.9,35.7,48.8,17940.0,...,2016,70,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9

#### Cleaning the country codes table

In [21]:
codes.dtypes

Country                object
Alpha-2 code           object
Alpha-3 code           object
Numeric code           object
Latitude (average)     object
Longitude (average)    object
dtype: object

In [24]:
codes['Country'] = codes['Country'].astype("string")
codes['Alpha-2 code'] = codes['Alpha-2 code'].apply(lambda x: re.sub('"','',x))
codes['Alpha-2 code'] = codes['Alpha-2 code'].apply(lambda x: re.sub(' ','',x))
codes['Alpha-3 code'] = codes['Alpha-3 code'].astype("string")

In [26]:
df = pd.merge(merged_df, codes[["Country", "Alpha-2 code"]], how='left', left_on='country',  right_on='Country').drop(columns=["Country"])
df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,...,female__ratio,institute_type,direct_expenditure_type,1995,2000,2005,2009,2010,2011,Alpha-2 code
0,2,California Institute of Technology,United States,97.7,54.6,98.0,99.9,83.7,96.0,2243.0,...,33,Higher Education Institutions,Public,1.1,0.8,1.0,1.1,1.0,0.9,US
1,3,Massachusetts Institute of Technology,United States,97.8,82.3,91.4,99.9,87.5,95.6,11074.0,...,37,Higher Education Institutions,Public,1.1,0.8,1.0,1.1,1.0,0.9,US
2,4,Stanford University,United States,98.3,29.5,98.1,99.2,64.3,94.3,15596.0,...,64,Higher Education Institutions,Public,1.1,0.8,1.0,1.1,1.0,0.9,US
3,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,18812.0,...,66,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9,GB
4,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,19919.0,...,66,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9,GB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,196,Newcastle University,United Kingdom,30.9,84.3,27.5,81.5,34.7,49.2,20174.0,...,68,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9,GB
759,196,"St Georgeâ€™s, University of London",United Kingdom,25.6,69.5,18.1,100.0,37.7,49.2,2958.0,...,72,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9,GB
760,198,University of Trento,Italy,30.8,55.9,27.4,87.7,47.1,49.1,16841.0,...,68,Higher Education Institutions,Public,0.7,0.7,0.6,0.8,0.8,0.8,IT
761,199,Paris Diderot University â€“ Paris 7,France,30.5,64.9,22.9,91.0,29.0,48.9,27756.0,...,73,Higher Education Institutions,Public,1.0,1.0,1.1,1.3,1.3,1.3,FR
762,200,Queenâ€™s University Belfast,United Kingdom,34.1,93.4,33.3,68.9,35.7,48.8,17940.0,...,70,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9,GB

#### Getting RND data for each country

In [28]:
codes = list(set(df["Alpha-2 code"]))
codes

['NZ',
 'NL',
 'CH',
 'BE',
 'GB',
 'JP',
 'SE',
 'IT',
 'ES',
 'US',
 'AT',
 'FI',
 'NO',
 'AU',
 'DK',
 'FR']

In [29]:
import json
import requests

# Research and development expenditure (% of GDP) - United Kingdom
# https://data.worldbank.org/indicator/GB.XPD.RSDV.GD.ZS?locations=GB&view=chart

resp = requests.get("http://api.worldbank.org/v2/country/GB/indicator/GB.XPD.RSDV.GD.ZS?format=json&date=2011")
rnd = json.loads(resp.text)[1][0]
rnd["value"]

1.64959

In [44]:
rnd_dict = {}
years = ["2008","2009","2010","2011","2012","2013","2014"]
year=2011

for code in codes:
    temp = []
    for year in years:
        resp = requests.get("http://api.worldbank.org/v2/country/"+code+"/indicator/GB.XPD.RSDV.GD.ZS?format=json&date="+str(year))
        temp.append(json.loads(resp.text)[1][0]["value"])
    rnd_dict[code]=temp
rnd_dict

{'NZ': [None, 1.2523, None, 1.23065, None, 1.15375, None],
 'NL': [1.62269, 1.6657, 1.70404, 1.88131, 1.91627, 1.92987, 1.97568],
 'CH': [2.71472, None, None, None, 3.18623, None, None],
 'BE': [1.93684, 1.9986, 2.06188, 2.17332, 2.28114, 2.33073, 2.37002],
 'GB': [1.61272, 1.67125, 1.64564, 1.64959, 1.57716, 1.62028, 1.6434],
 'JP': [3.33718, 3.2314, 3.13708, 3.24477, 3.20908, 3.31496, 3.40022],
 'SE': [3.46999, 3.39528, 3.16789, 3.18702, 3.23025, 3.26042, 3.10184],
 'IT': [1.15972, 1.21787, 1.21797, 1.20155, 1.26219, 1.30107, 1.3384],
 'ES': [1.325, 1.36364, 1.35996, 1.33341, 1.29877, 1.27523, 1.24213],
 'US': [2.76791, 2.8127, 2.7354, 2.76525, 2.68166, 2.70972, 2.71924],
 'AT': [2.56945, 2.59674, 2.7261, 2.66868, 2.91472, 2.95492, 3.08429],
 'FI': [3.53697, 3.73402, 3.70532, 3.61806, 3.39832, 3.27137, 3.14751],
 'NO': [1.55448, 1.72472, 1.64999, 1.62712, 1.62087, 1.65238, 1.71506],
 'AU': [2.4037, None, 2.37586, 2.23765, None, 2.1787, None],
 'DK': [2.77346, 3.05514, 2.91707, 2.94465, 2.98125, 2.97048, 2.91409],
 'FR': [2.06117, 2.21207, 2.17857, 2.19161, 2.22707, 2.23703, 2.27592]}

In [63]:
years = ["2008","2009","2010","2011","2012","2013","2014"]
rnd_data = pd.DataFrame.from_dict(rnd_dict, orient='index', columns=years)
rnd_data["Country"] = codes
rnd_data

       2008     2009     2010     2011     2012     2013     2014 Country
NZ      NaN  1.25230      NaN  1.23065      NaN  1.15375      NaN      NZ
NL  1.62269  1.66570  1.70404  1.88131  1.91627  1.92987  1.97568      NL
CH  2.71472      NaN      NaN      NaN  3.18623      NaN      NaN      CH
BE  1.93684  1.99860  2.06188  2.17332  2.28114  2.33073  2.37002      BE
GB  1.61272  1.67125  1.64564  1.64959  1.57716  1.62028  1.64340      GB
JP  3.33718  3.23140  3.13708  3.24477  3.20908  3.31496  3.40022      JP
SE  3.46999  3.39528  3.16789  3.18702  3.23025  3.26042  3.10184      SE
IT  1.15972  1.21787  1.21797  1.20155  1.26219  1.30107  1.33840      IT
ES  1.32500  1.36364  1.35996  1.33341  1.29877  1.27523  1.24213      ES
US  2.76791  2.81270  2.73540  2.76525  2.68166  2.70972  2.71924      US
AT  2.56945  2.59674  2.72610  2.66868  2.91472  2.95492  3.08429      AT
FI  3.53697  3.73402  3.70532  3.61806  3.39832  3.27137  3.14751      FI
NO  1.55448  1.72472  1.64999  1.62712  1.62087  1.65238  1.71506      NO
AU  2.40370      NaN  2.37586  2.23765      NaN  2.17870      NaN      AU
DK  2.77346  3.05514  2.91707  2.94465  2.98125  2.97048  2.91409      DK
FR  2.06117  2.21207  2.17857  2.19161  2.22707  2.23703  2.27592      FR

we take the average of 2011 and 2012 to have values for all countries

In [78]:
rnd_data["rnd_2011-11_avg"] = rnd_data[["2011","2012"]].mean(skipna=True, axis=1)
rnd_data[["Country", "rnd_2011-11_avg"]]

   Country  rnd_2011-11_avg
NZ      NZ         1.230650
NL      NL         1.898790
CH      CH         3.186230
BE      BE         2.227230
GB      GB         1.613375
JP      JP         3.226925
SE      SE         3.208635
IT      IT         1.231870
ES      ES         1.316090
US      US         2.723455
AT      AT         2.791700
FI      FI         3.508190
NO      NO         1.623995
AU      AU         2.237650
DK      DK         2.962950
FR      FR         2.209340

#### Merging

In [83]:
df_final = pd.merge(df, rnd_data[["Country", "rnd_2011-11_avg"]], how='left', left_on='Alpha-2 code',  right_on='Country').drop(columns=["Country"])
df_final

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,...,institute_type,direct_expenditure_type,1995,2000,2005,2009,2010,2011,Alpha-2 code,rnd_2011-11_avg
0,2,California Institute of Technology,United States,97.7,54.6,98.0,99.9,83.7,96.0,2243.0,...,Higher Education Institutions,Public,1.1,0.8,1.0,1.1,1.0,0.9,US,2.723455
1,3,Massachusetts Institute of Technology,United States,97.8,82.3,91.4,99.9,87.5,95.6,11074.0,...,Higher Education Institutions,Public,1.1,0.8,1.0,1.1,1.0,0.9,US,2.723455
2,4,Stanford University,United States,98.3,29.5,98.1,99.2,64.3,94.3,15596.0,...,Higher Education Institutions,Public,1.1,0.8,1.0,1.1,1.0,0.9,US,2.723455
3,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,18812.0,...,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9,GB,1.613375
4,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,19919.0,...,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9,GB,1.613375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,196,Newcastle University,United Kingdom,30.9,84.3,27.5,81.5,34.7,49.2,20174.0,...,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9,GB,1.613375
759,196,"St Georgeâ€™s, University of London",United Kingdom,25.6,69.5,18.1,100.0,37.7,49.2,2958.0,...,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9,GB,1.613375
760,198,University of Trento,Italy,30.8,55.9,27.4,87.7,47.1,49.1,16841.0,...,Higher Education Institutions,Public,0.7,0.7,0.6,0.8,0.8,0.8,IT,1.231870
761,199,Paris Diderot University â€“ Paris 7,France,30.5,64.9,22.9,91.0,29.0,48.9,27756.0,...,Higher Education Institutions,Public,1.0,1.0,1.1,1.3,1.3,1.3,FR,2.209340
762,200,Queenâ€™s University Belfast,United Kingdom,34.1,93.4,33.3,68.9,35.7,48.8,17940.0,...,Higher Education Institutions,Public,0.7,0.7,0.9,0.6,0.7,0.9,GB,1.613375