In [1]:
# importing libs
import pandas as pd
import re

#### Loading datasets

In [88]:
# loading the education expenditure
url1="https://raw.githubusercontent.com/DaniDataScience/Python_coding_3/main/education_expenditure.csv"
edu_exp=pd.read_csv('education_expenditure.csv')

In [89]:
# loading the Times data set
times_data=pd.read_csv("https://raw.githubusercontent.com/DaniDataScience/Python_coding_3/main/times_Data_er.csv")
times_data.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States,99.7,72.4,98.7,98.8,34.5,96.1,20152.0,8.9,25%,NaN,2011
1,2,California Institute of Technology,United States,97.7,54.6,98.0,99.9,83.7,96.0,2243.0,6.9,27%,33;67,2011
2,3,Massachusetts Institute of Technology,United States,97.8,82.3,91.4,99.9,87.5,95.6,11074.0,9.0,33%,37;63,2011
3,4,Stanford University,United States,98.3,29.5,98.1,99.2,64.3,94.3,15596.0,7.8,22%,1.79,2011
4,5,Princeton University,United States,90.9,70.3,95.4,99.9,NaN,94.2,7929.0,8.4,27%,1.91,2011

### Cleaning data

#### Identifying NAs and dropping them

In [90]:
times_data.isna().sum(axis=0)

world_rank                   0
university_name              0
country                      0
teaching                     0
international                9
research                     0
citations                    0
income                     218
total_score               1402
num_students                59
student_staff_ratio         59
international_students      67
female_male_ratio          236
year                         0
dtype: int64

In [91]:
times_data = times_data.dropna()
times_data.isna().sum(axis=0)

world_rank                0
university_name           0
country                   0
teaching                  0
international             0
research                  0
citations                 0
income                    0
total_score               0
num_students              0
student_staff_ratio       0
international_students    0
female_male_ratio         0
year                      0
dtype: int64

In [92]:
len(times_data)

954

#### checking dta dypes. columns with objects as type probably need cleaning

In [93]:
times_data.dtypes

world_rank                  int64
university_name            object
country                    object
teaching                  float64
international             float64
research                  float64
citations                 float64
income                    float64
total_score               float64
num_students              float64
student_staff_ratio       float64
international_students     object
female_male_ratio          object
year                        int64
dtype: object

#### cleaning international col

In [94]:
times_data["international_students"].apply(lambda x: re.sub(r'\W','',x))

1       27
2       33
3       22
5       34
6       34
        ..
1998    29
1999    17
2000     8
2001    17
2002    30
Name: international_students, Length: 954, dtype: object

#### cleaning female_male_ratio col

columns "female_male_ratio" has two types of value, one ratio with ";" (e.g.60;40) and one with in integer (e.g. 1.5)

In [95]:
# marking True-False for splitting dataframe
times_data["female__ratio"] = times_data["female_male_ratio"].apply(
    lambda x: 
        x[0:2]
        if ";" in x else
        round((float(x)/(1+float(x)))*100)
)

times_data.drop(["female_male_ratio"], axis='columns', inplace=True)

#### cleaning university name and country col

In [96]:
#notepad++-ban tisztítottam a táblán, de lehet nem eleget. Ha látsz még hibát küld el
times_data['university_name'] = times_data['university_name'].astype("string")
times_data['country'] = times_data['country'].astype("string")
times_data['female__ratio'] = times_data['female__ratio'].astype("int64")
#times_data['international_students'] = times_data['international_students'].astype("int")

times_data.dtypes

world_rank                  int64
university_name            string
country                    string
teaching                  float64
international             float64
research                  float64
citations                 float64
income                    float64
total_score               float64
num_students              float64
student_staff_ratio       float64
international_students     object
year                        int64
female__ratio               int64
dtype: object

In [97]:
edu_exp.isna().sum(axis=0)

country                      0
institute_type               0
direct_expenditure_type      0
1995                       239
2000                       234
2005                       227
2009                       230
2010                       232
2011                        51
dtype: int64

In [98]:
edu_exp = edu_exp.dropna()
edu_exp.isna().sum(axis=0)

country                    0
institute_type             0
direct_expenditure_type    0
1995                       0
2000                       0
2005                       0
2009                       0
2010                       0
2011                       0
dtype: int64

In [99]:
edu_exp['country'] = edu_exp['country'].astype("string")
edu_exp['institute_type'] = edu_exp['institute_type'].astype("string")
edu_exp['direct_expenditure_type'] = edu_exp['direct_expenditure_type'].astype("string")

edu_exp.dtypes

country                     string
institute_type              string
direct_expenditure_type     string
1995                       float64
2000                       float64
2005                       float64
2009                       float64
2010                       float64
2011                       float64
dtype: object

In [100]:
merged_df = pd.merge(times_data, edu_exp,how='left')
merged_df = merged_df.dropna()
merged_df.isna().sum(axis=0)

world_rank                 0
university_name            0
country                    0
teaching                   0
international              0
research                   0
citations                  0
income                     0
total_score                0
num_students               0
student_staff_ratio        0
international_students     0
year                       0
female__ratio              0
institute_type             0
direct_expenditure_type    0
1995                       0
2000                       0
2005                       0
2009                       0
2010                       0
2011                       0
dtype: int64

In [101]:
url3='https://gist.githubusercontent.com/tadast/8827699/raw/f5cac3d42d16b78348610fc4ec301e9234f82821/countries_codes_and_coordinates.csv'
cords=pd.read_csv(url3)

cords.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""","""AFG""","""4""","""33""","""65"""
1,Albania,"""AL""","""ALB""","""8""","""41""","""20"""
2,Algeria,"""DZ""","""DZA""","""12""","""28""","""3"""
3,American Samoa,"""AS""","""ASM""","""16""","""-14.3333""","""-170"""
4,Andorra,"""AD""","""AND""","""20""","""42.5""","""1.6"""

In [102]:
cords['Country'] = cords['Country'].astype("string")
cords['Alpha-2 code'] = cords['Alpha-2 code'].astype("string")
cords['Alpha-3 code'] = cords['Alpha-3 code'].astype("string")

cords.dtypes

Country                string
Alpha-2 code           string
Alpha-3 code           string
Numeric code           object
Latitude (average)     object
Longitude (average)    object
dtype: object

In [107]:
fin_df = pd.merge(merged_df, cords, how='left', on=['country', 'Country'])

KeyError: 'country'

In [7]:
for f in fin_df['Alpha-2 code']:
    fin_df['urls']= ˙("http://api.worldbank.org/v2/country/"+f+"/indicator/GB.XPD.RSDV.GD.ZS?format=json&date=2011")

SyntaxError: invalid character '˙' (U+02D9) (Temp/ipykernel_10988/2290121928.py, line 2)