In [36]:
# importing libs
import pandas as pd
import re

#### Loading datasets

In [2]:
# loading the education expenditure
url1="https://raw.githubusercontent.com/DaniDataScience/Python_coding_3/main/education_expenditure.csv"
edu_exp_df=pd.read_csv('education_expenditure.csv')

In [3]:
# loading the Times data set
times_data=pd.read_csv("https://raw.githubusercontent.com/DaniDataScience/Python_coding_3/main/times_Data_er.csv")
times_data.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,20152.0,8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,2243.0,6.9,27%,33;67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,11074.0,9.0,33%,37;63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,15596.0,7.8,22%,1.79,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,NaN,94.2,7929.0,8.4,27%,1.91,2011

### Cleaning data

#### Identifying NAs and dropping them

In [4]:
times_data.isna().sum(axis=0)

world_rank                   0
university_name              0
country                      0
teaching                     0
international                9
research                     0
citations                    0
income                     218
total_score               1402
num_students                59
student_staff_ratio         59
international_students      67
female_male_ratio          236
year                         0
dtype: int64

In [5]:
times_data = times_data.dropna()
times_data.isna().sum(axis=0)

world_rank                0
university_name           0
country                   0
teaching                  0
international             0
research                  0
citations                 0
income                    0
total_score               0
num_students              0
student_staff_ratio       0
international_students    0
female_male_ratio         0
year                      0
dtype: int64

In [31]:
len(times_data)

954

#### checking dta dypes. columns with objects as type probably need cleaning

In [6]:
times_data.dtypes

world_rank                  int64
university_name            object
country                    object
teaching                  float64
international             float64
research                  float64
citations                 float64
income                    float64
total_score               float64
num_students              float64
student_staff_ratio       float64
international_students     object
female_male_ratio          object
year                        int64
dtype: object

#### cleaning university name col

#### cleaning counry name col

#### cleaning international col

In [50]:
times_data["international_students"].apply(lambda x: re.sub(r'\W','',x))

1       27
2       33
3       22
5       34
6       34
        ..
1998    29
1999    17
2000     8
2001    17
2002    30
Name: international_students, Length: 954, dtype: object

#### cleaning female_male_ratio col

columns "female_male_ratio" has two types of value, one ratio with ";" (e.g.60;40) and one with in integer (e.g. 1.5)

In [7]:
# marking True-False for splitting dataframe
times_data["female__ratio"] = times_data["female_male_ratio"].apply(
    lambda x: 
        x[0:2]
        if ";" in x else
        round((float(x)/(1+float(x)))*100)
)
times_data.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,female__ratio
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,2243.0,6.9,27%,33;67,2011,33
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,11074.0,9.0,33%,37;63,2011,37
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,15596.0,7.8,22%,1.79,2011,64
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,NaN,94.2,7929.0,8.4,27%,1.91,2011,66
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,18812.0,11.8,34%,1.95,2011,66

In [9]:
import pandas as pd

url2="https://raw.githubusercontent.com/DaniDataScience/Python_coding_3/main/times_Data.csv"

times_df=pd.read_csv(url2)
times_df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x83 in position 4006: invalid start byte

In [4]:
import numpy as np

times_df2 = times_df[times_df.female_male_ratio.notnull()]
list1 = [';']
times_df2['female_male_ratio'] = [x for x in times_df2['female_male_ratio'] if
              all(';' not in x)]

times_df2

NameError: name 'times_df' is not defined

In [5]:
url3='https://gist.githubusercontent.com/tadast/8827699/raw/f5cac3d42d16b78348610fc4ec301e9234f82821/countries_codes_and_coordinates.csv'

cords=pd.read_csv(url3)

In [6]:
merged_df = pd.merge(times_df, edu_exp_df,how='left')
merged_df#.boxplot('2011')
#fin_df = pd.merge(merged_df, cords, how='left', on=['country', 'Country'])
#fin_df

NameError: name 'times_df' is not defined

In [7]:
for f in fin_df['Alpha-2 code']:
    fin_df['urls']= ˙("http://api.worldbank.org/v2/country/"+f+"/indicator/GB.XPD.RSDV.GD.ZS?format=json&date=2011")

SyntaxError: invalid character '˙' (U+02D9) (Temp/ipykernel_10988/2290121928.py, line 2)